.btn {
  border: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &-primary {
    background-color: var(--green);
    &:hover {
      background-color: var(--green-dark);
    }
  }
}