.btn {
  border: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &-primary {
    background-color: var(--green);
    &:hover {
      background-color: var(--green-dark);
    }
  }
  &-warning {
    background-color: var(--yellow);
    &:hover {
      background-color: var(--yellow-dark);
    }
  }
  &-danger {
    background-color: var(--red);
    &:hover {
      background-color: var(--red-dark);
    }
    &-light {
      color: var(--red);
    }
  }
}