.navigation {
  flex-basis: 280px;
  background-color: var(--dark);
  color: #fff;
  min-height: 100vh;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      text-align: center;
      margin-left: 8px;
      a {
        text-decoration: none;
        color: white;    
        display: flex;
        align-items: center;
        img {
          width: 40px;
          margin-right: 5px;
        }
      }
    }
    .collapse {
      margin: 0 30px 0 20px;
      cursor: pointer;
    }
  }
  
  ul {
    list-style: none;
    margin: 20px 0;
    padding: 10px 20px;
    li {
      margin: 6px 0;    
      white-space: nowrap;
      overflow: hidden;
      a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        padding: 10px 15px;
        display: block;
        border-radius: 5px;
        &.active {
          background-color: var(--green);
          color: white;
        }
      }
      &.dropdown {
        color: white;
        font-size: 16px;
        position: relative;
        user-select: none;
        overflow: hidden;
        &::after {
          content: "\f054";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-size: 14px;
          position: absolute;
          right: 10px;
          top: 14px;
          transform: rotate(0deg);
          transition: transform 0.2s;
          cursor: pointer;
        }
        ul {
          margin: 0;
          position: relative;
          li {
            margin: 0;
            a {
              padding: 7px 10px;
              &.active {
                background-color: transparent;
                &::before {
                  content: "\f0da";
                  font-family: "Font Awesome 5 Free";
                  font-weight: 900;
                  margin-right: 8px;
                }
              }
            }
          }
        }
      }
      &.open {
        &::after {
          transform: rotate(90deg);
          transition: transform 0.2s;
        }
      }
      i {
        margin-right: 8px;
      }
    }
  }
}

.minimal {
  flex-basis: 70px;
  transition: flex-basis 0.3s;
  overflow: hidden;
  header {
    justify-content: center;
    h1 {
      margin-left: 0;
      a {
        span {
          display: none;
        }
      }
    }
    .collapse {
      display: none;
    }
  }
  ul {
    padding: 10px;
    li {
      span {
        display: none;
      }
      i {
        margin-right: 0;
      }
      &.dropdown {
        &::after {
          display: none;
        }
        ul {
          display: none;
          padding: 10px 20px;
        }
      }
    }
  }
  &:hover {
    flex-basis: 280px;
    header {
      justify-content: space-between;
      h1 {
        margin-left: 8px;
        a {
          span {
            display: initial;
          }
        }
      }
      .collapse {
        display: initial;
      }
    }
    ul {
      padding: 10px 20px;
      li {
        span {
          display: initial;
        }
        i {
          margin-right: 8px;
        }
        &.dropdown {
          &::after {
            display: initial;
          }
          ul {
            display: block;
          }
        }
      }
    }
  }
}

.dropdownOpen {
  animation: dropdownOpen 0.2s;
}

@keyframes dropdownOpen {
  from {
    left: -1000px;
  }
}

.dropdownClose {
  animation: dropdownClose 0.2s;
}

@keyframes dropdownClose {
  from {
    left: 0;
  }
}

@media (max-width: 992px) {
  .navigation {
    width: 70px;
    position: absolute;
    flex-shrink: 0;
    transition: width 0.3s;
    overflow: hidden;
    header {
      justify-content: center;
      h1 {
        margin-left: 0;
        a {
          span {
            display: none;
          }
        }
      }
      .collapse {
        display: none;
      }
    }
    ul {
      padding: 10px;
      li {
        span {
          display: none;
        }
        i {
          margin-right: 0;
        }
        &.dropdown {
          &::after {
            display: none;
          }
          ul {
            display: none;
            padding: 10px 20px;
          }
        }
      }
    }
    &:hover {
      width: 280px;
      header {
        justify-content: space-between;
        h1 {
          margin-left: 8px;
          a {
            span {
              display: initial;
            }
          }
        }
        .collapse {
          display: initial;
        }
      }
      ul {
        padding: 10px 20px;
        li {
          span {
            display: initial;
          }
          i {
            margin-right: 8px;
          }
          &.dropdown {
            &::after {
              display: initial;
            }
            ul {
              display: block;
            }
          }
        }
      }
    }
  }
  main {
    flex-basis: calc(100% - 70px);
    margin-left: 70px;
  }
}