.wishlist,
.products {
  padding: 10px 25px;
  overflow-x: auto;
  header {
    h2 {
      font-size: 25px;
      margin-bottom: 30px;
    }
  }
  &-content {
    display: flex;
    flex-wrap: wrap;
    .card-block {
      width: calc(20% - 40px);
      margin: 20px;
      .card {
        box-shadow: 0 0 20px 0 #2646531f;
        border-radius: 10px;
        &-img {
          position: relative;
          height: 200px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px 10px 0 0;
          img {
            width: 100%;
            height: 100%;
            border-radius: 10px 10px 0 0;
          }
          span {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: #eee;
            color: var(--red);
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            text-align: center;
            border-radius: 50%;
            cursor: pointer;
          }
        }
        &-content {
          padding: 15px 15px;
          h4 {
            color: var(--dark);
            font-size: 18px;
            margin: 0;
          }
        }
        &-footer {
          padding: 15px 15px;
          display: flex;
          align-items: center;
          span {
            margin-left: 40px;
            font-weight: bold;
            color: var(--dark);
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .wishlist,
  .products {
    &-content {
      .card-block {
        width: calc(50% - 40px);
        margin: 20px;
      }
    }
  }
}

@media (max-width: 576px) {
  .wishlist,
  .products {
    &-content {
      .card-block {
        width: calc(100%);
        margin: 20px 0;
      }
    }
  }
}