:root {
  --dark: #264653;
  --dark-dark: #1c323b;
  --green: #2a9d8f;
  --green-dark: #218478;
  --yellow: #e9c46a;
  --yellow-dark: #dcb964;
  --orange: #f4a261;
  --red: #e76f51;
  --red-dark: #c55a40;
  --blue: #3498db;
  --blue-dark: #2980b9;
}
