:root {
  --dark: #393e46;
  --dark-dark: #222831;
  --green: #00adb5;
  --green-dark: #00adb5;
  --yellow: #e9c46a;
  --yellow-dark: #dcb964;
  --orange: #f4a261;
  --red: #e76f51;
  --red-dark: #c55a40;
  --blue: #3498db;
  --blue-dark: #2980b9;
}
