.products {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .modal-btn {
      @extend .btn;
      @extend .btn-primary;
    }
  }
  &-content {
    .card-block {
      .card {
        &-footer {
          display: flex;
          button {
            flex-basis: 50%;
            &:last-of-type {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
  .new-product {
    .content {
      width: 800px;
    }
    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (max-width: 576px) {
  .products {
    header {
      flex-direction: column;
    }
  }
}
