.user-settings,
.payment-settings {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 25px;
      margin-bottom: 30px;
    }
    button {
      span {
        margin-left: 5px;
        @include responsive-mobile {
          display: none;
        }
      }
    }
  }
  .content {
    form {
      .user-img {
        @include responsive-mobile {
          width: 100%;
        }
      }
      .form-input {
        input {
          @include responsive-tablet {
            margin: 10px 0;
            width: 100%;
          }
        }
        @include responsive-large {
          width: 100%;
        }
        @include responsive-tablet {
          flex-direction: column;
        }
      }
      button {
        padding: 10px 30px;
        i {
          margin-right: 3px;
        }
      }
    }
    .payment {
      display: flex;
      align-items: center;
      background-color: white;
      box-shadow: 0 0 15px 5px #26465312;
      margin: 10px 0;
      padding: 25px 15px;
      border-radius: 5px;
      width: 400px;
      position: relative;

      @include responsive-mobile {
        width: 100%;
      }
      h4 {
        margin: 0 10px;
      }
      i {
        color: var(--red);
        cursor: pointer;
        position: absolute;
        right: 15px;
        justify-self: flex-end;
      }
    }
  }
}
