@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --green: #2A9D8F;
  --dark: #264653;
  --yellow: #E9C46A;
  --orange: #F4A261;
  --red: #E76F51;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

button {
  &:focus {
    outline: none;
  }
}

main {
  flex-grow: 1;
  overflow-x: hidden;
}

@import "./sass/navigation";
@import "./sass/menu";
@import "./sass/orders";
@import "./sass/popup";