@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --dark: #264653;
  --dark-dark: #1c323b;
  --green: #2A9D8F;
  --green-dark: #218478;
  --yellow: #E9C46A;
  --yellow-dark: #dcb964;
  --orange: #F4A261;
  --red: #E76F51;
  --red-dark: #c55a40;
  --blue: #3498db;
  --blue-dark: #2980b9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.o-zere {
  opacity: 0;
}

button {
  &:focus {
    outline: none;
  }
}

main {
  transition: margin-left 0.3s;
  flex-grow: 1;
  overflow-x: hidden;
  margin-left: 280px;
  min-height: 100vh;
}

.toastify {
  & > div {
    background-color: var(--dark);
  }
}

.alter {
  margin: 10em 0 0 20px;
  position: relative;
  h3 {
    font-size: 40px;
    margin-bottom: 40px !important;
  }
  a, button {
    display: inline-block;
    background-color: var(--green);
    padding: 12px 35px;
    font-size: 17px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s;
    &:hover {
      background-color: var(--green-dark);
    }
  }
}

@import "./sass/btn";
@import "./sass/config";
@import "./sass/navigation";
@import "./sass/menu";
@import "./sass/dashboard";
@import "./sass/orders";
@import "./sass/wishlist";
@import "./sass/products";
@import "./sass/popup";
@import "./sass/whatisnew";
@import "./sass/componentsPage";
@import "./sass/settings";